@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #1b1b1d;
}

.wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  overflow: hidden;
}

.marquee-card {
  flex: 0 0 auto;
  margin-right: 20px;
  /* Adjust spacing between cards */
}

.card {
  max-width: 22rem;
  display: flex;
  background: #ffffff89;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card img {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.card .body {
  margin: 1rem;
  flex-grow: 1;
}

.card .title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  color: #0e48fe;
}

.card .description {
  line-height: 1.2rem;
}

@media screen and (max-width: 768px) {
  .marquee-card {
    margin-right: 10px;
    /* Adjust spacing for smaller screens */
  }
}